.search-bar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-bar {
    flex-grow: 1;
}

.login-button {
    margin-left: 55px;
    margin-right: -50px;
    cursor: pointer;
}

.logout-button {
    margin-left: 75px;
    margin-right: -175px;
    cursor: pointer;
}

.favorite-locations {
    font-size: 36px;
    font-weight: 700;
    position: relative;
    margin-top: 25px;
    text-align: left;
}

.location-header {
    border-bottom: 3px solid black;
    padding-bottom: 5px;
}

.favorite-locations-widgets {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 15px;
}

.recent-searches {
    font-size: 36px;
    font-weight: 700;
    position: relative;
    margin-top: 50px;
    text-align: left;
}

.recent-searches-widgets {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 15px;
}

.search-header {
    border-bottom: 3px solid black;
    padding-bottom: 10px;
}

.subtitle-text {
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    padding-left: 5px;
}